body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #bda2e5;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
}

.nav a {
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  color: #222;
}

.nav a:hover {
  text-decoration: underline;
}

/* Search section */
h1 {
  color: rgb(181, 93, 181);
  margin-bottom: 20px;
}

.search {
  background-color: rgb(252, 203, 255);
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.flight-form label {
  margin-top: 10px;
}

.flight-form input {
  padding: 8px;
  margin-top: 5px;
}

.flight-form button {
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

/* Promo */
.promo {
  padding: 30px 20px;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #bda2e5;
  color: #fff;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10p
}
/* Login Page */
.login {
  min-height: 70vh;
  background-color: rgb(252, 203, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
}

.login h1 {
  color: rgb(181, 93, 181);
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form label {
  margin-top: 10px;
}

.login-form input {
  padding: 8px;
  margin-top: 5px;
}

.login-form button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.login-links {
  margin-top: 15px;
  font-size: 14px;
}

.login-links a {
  text-decoration: none;
  margin: 0 5px;
}

.login-links a:hover {
  text-decoration: underline;
}
